*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.timer{
    text-align: center;
    margin-top: 5rem;
}
button{
    height: 2rem;
    width: 5rem;
    margin-top: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    cursor: pointer;
}